# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env

# Dependency directories
jspm_packages/
bower_components/

# IDE specific files
.vscode/
.idea/

# Optional npm cache directory
.npm/

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# Coverage directory used by testing tools like Jest
coverage/

# Output of 'npm pack'
*.tgz

# Parcel cache
.cache/

# Next.js build output
.next/

# Svelte build output
.svelte-kit/

# Nuxt.js build output
.nuxt/

# Remix build output
.build/

# Express cache
.cache/
package-lock.json
.DS_Store